/* Home page styling */

/* Pagination */
.pagination-button,
.view-listing-button {
    background-color: #00708E; 
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}
.pagination-button {
    margin: 10px;
}
/* Hover effect pagination*/
.pagination-button:hover,
.view-listing-button:hover {
    background-color: white; 
    color: #00708E; 
    border: 1px solid #00708E; 
}
/* Pagination active page button style */
.pagination-button.active {
    background-color: #005a67; 
    color: white;
    border: 1px solid #005a67;
}
/* Styling for the "Previous" and "Next" buttons */
.pagination-button.prev,
.pagination-button.next {
    font-weight: normal;
}

